.admin-container {
	display: flex;
}

.admin-sidebar {
	width: fit-content;
	background-color: #f8f9fa;
	padding: 20px;
	border-right: 1px solid #ddd;
	height: calc(
		100vh - 130px
	); /* Change pixel count whenever header height changes */
}

.admin-sidebar h2 {
	margin-bottom: 20px;
}

.admin-user-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.admin-user-card {
	width: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-dropdown-btn {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

.admin-dropdown-btn:hover {
	background-color: #0056b3;
}

.admin-edit-panel {
	flex-grow: 1;
	padding: 20px;
	background-color: #f0f0f0;
}

.admin-search-bar {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
}

.admin-user-card p {
	margin: 0;
	inline-size: 245px;
	overflow-wrap: break-word;
}

.admin-main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	background-color: #f0f0f0;
	padding: 20px;
}

.admin-user-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.admin-seperate-section-header {
	background-color: #b3b3b3;
	padding: 13px;
	margin: -20px;
	text-align: center;
}
